body {
  background: #fff;
}

#logo {
  display: block;
  background: transparent url(../img/partial.png) 0 0 no-repeat;
  height: 753px;
  margin: 0 auto 0 auto;
  text-indent: -999999px;
  width: 753px;
}

footer {
  background: #333;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #ccc;
  line-height: 4em;
}
